<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="#">{{'Navbar'| translate}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="#">{{'HOME' | translate}} </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#ser">{{'SER' | translate}} </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#cont">{{'CON' | translate}}</a>
        </li>
      
      <li class="nav-item  mr-sm-2">
          <select class="form-select" aria-label="Default select example" #langSelect (change)="LocalSer.translateServices.use(langSelect.value)">
              <option selected>Open this select menu</option>
              <option *ngFor="let item of LocalSer.translateServices.getLangs()"
              [value]="item"
              [selected]="item===LocalSer.translateServices.currentLang"
            
              > {{item}}</option>
              
            </select>
            
         
      </li>

      </ul>
      
    </div>
  </div>
</nav>