.container{

    text-align: center;
    padding: 25px;
   margin-top: 55px;
    
}
.stat{
   
    text-align: center;
    display: flex;
    justify-content: center;
}
.temp{

   padding: 25px;
   margin: 15px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
i{
    font-size: 25px;
    margin-bottom: 15px;
}