<div class="container">
    <div class="row" id="ser">
        <div class="col-xl-12 col-12 title" d>
            <h1> {{'title'| translate}}</h1>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 sec" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
            <h4> {{'title2' | translate }}</h4>
            <p> {{'body2' | translate}}</p>
        
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 sec" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
            <h4> {{'title3' | translate }}</h4>
            <p> {{'body3' | translate}}</p>
        
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 sec" ata-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
            <h4> {{'title4' | translate }}</h4>
            <p> {{'body4' | translate}}</p>
          
        </div>
    </div>
    <button class="btn btn-outline-dark"> {{'btn' | translate}}</button>
</div>